.footer__container {
   width: 100%;
   background-color: #2d2b2f;
}

.footer__top {
   display: flex;
   flex-wrap: wrap;
   padding: 0 8%;
   justify-content: space-evenly;
}

.footer__left-panel {
   flex: 1;
   margin-top: 2%;
   min-width: 300px;
}

.footer__left-panel-title {
   font-size: 1.5vw;
   font-weight: 500;
   color: rgba(229, 229, 229, 1);;
   margin-bottom: 2%;
}

:is(.footer__left-panel-phone, .footer__left-panel-email, .footer__left-panel-skype, .footer__left-panel-address) {
   display: flex;
   align-items: end;
   margin-bottom: 2%;
}

:is(.footer__phone-img, .footer__email-img, .footer__skype-img, .footer__address-img) {
   width: 5%;
   max-height: 32px;
   margin-right: 3%;
}

.footer__left-panel-text {
   font-size: 1.2vw;
   font-weight: 400;
   color: rgba(229, 229, 229, 1);;
   text-decoration: none;
}

.footer__subscribe-panel {
   display: flex;
   flex-direction: column;
   flex: 1;
   margin-top: 2%;
   min-width: 300px;
}

.footer__subscribe-panel-title {
   font-size: 1.5vw;
   font-weight: 500;
   color: rgba(229, 229, 229, 1);;
   margin-bottom: 2%;
}

.footer__subscribe-panel-form {
   display: flex;
   flex-direction: column;
}

.footer__subscribe-panel-input-label {
   font-size: 1.5vw;
   font-weight: 400;
   color: rgba(229, 229, 229, 1);
   margin-bottom: 3%;
}

.footer__subscribe-panel-input-container {
   display: flex;
   width: 100%;
   margin-bottom: 3%;
}

.footer__subscribe-panel-input {
   font-size: 1.2vw;
   font-weight: 400;
   width: 100%;
   max-width: 300px;
   padding-left: 1%;
}

.footer__subscribe-panel-input::placeholder {
   font-size: 1.2vw;
   font-weight: 400;
   padding-left: 1%;
}

.footer__subscribe-panel-button {
   font-size: 1.2vw;
   font-weight: 300;
   width: auto;
   padding: 0.5%;
   color: rgba(229, 229, 229, 1);
   border: 1px solid rgba(229, 229, 229, 1);
   border-radius: 3px;
   text-transform: uppercase;
   background-color: #2d2b2f;
   transition: background-color 0.3s, color 0.3s;
   margin-left: 3%;
   cursor: pointer;
}

.footer__subscribe-panel-button:hover {
   background: #ffca62;
   color: #000;
}

.footer__subscribe-panel-button:active {
   background: rgba(229, 229, 229, 1);
}

.footer__subscribe-panel-socials {
   margin-bottom: 3%;
}

.footer__subscribe-panel-icon {
   margin-right: 5%;
}

.footer__bottom {
   display: flex;
   justify-content: space-around;
   align-items: center;
   border-top: 1px solid rgba(229, 229, 229, 1);
   height: 6vh;
}

.footer__logo {
   font-size: 2vw;
   font-weight: 900;
   color: rgba(229, 229, 229, 1);
}

.footer__btn-circle {
   width: 2.5%;
   cursor: pointer;
}

.footer__text {
   font-size: 2vw;
   font-weight: 400;
   color: rgba(229, 229, 229, 1);
}
