.main {
   display: flex;
   flex-direction: column;
   position: relative;
   width: 100%;
   min-height: 50vh;
   background: no-repeat url('/src/shared/images/main-background.png');
   background-size: cover;
   padding-top: 2%;
}

.logo {
   font-size: 3vw;
   color: rgba(229, 229, 229, 1);
   height: auto;
   margin-left: 5%;
   margin-bottom: 2%;
}

.logo:hover {
   cursor: pointer;
}

.navbar {
   display: flex;
   align-items: center;
   width: 100%;
   height: 7vh;
   background-color: #292929;
}

.navbar__content {
   display: flex;
   flex-grow: 1; 
   margin-left: 5%; 
}

.navbar__link {
   font-size: 1.8vw;
   line-height: 100%;
   color: rgba(229, 229, 229, 1);
   text-decoration: none;
}

.navbar__link:hover {
   color: #ffa800;
}

.navbar__link:not(:first-child) {
   margin-left: 5%;
}

.main-title {
   display: inline-block;
   font-size: 4vw;
   font-weight: 100;
   width: 50%;
   line-height: 100%;
   color: rgba(229, 229, 229, 1);
   margin: 10% auto;
}

.main-title__slogan {
   font-size: 5vw;
   font-weight: 700;
   line-height: 100%;
   color: rgba(229, 229, 229, 1);
}

.search-form {
   display: flex;
   flex-direction: column;
   align-items: end;
   position: relative;
   width: 100%;
   max-width: 80%;
   margin: -10vh auto;
}

.search-form::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #292929;
   opacity: 0.8;
   z-index: 1;
}

.search-form__direction,
.search-form__date {
   display: flex;
   flex-direction: column;
   z-index: 2;
}

.search-form__direction-label,
.search-form__date-label {
   font-size: 2vw;
   font-weight: 300;
   line-height: 100%;
   color: rgba(229, 229, 229, 1);
   margin: 3% 0 1% 5%;
}

.search-form__direction-input,
.search-form__date-input {
   font-size: 1.5vw;
   font-weight: 400;
   line-height: 1;
   padding: 5px;
   width: 100%;
   max-width: 325px; 
   height: 60px;
   border-radius: 5px;
   margin: 0 5%;
}

.search-form__direction-input::placeholder,
.search-form__date-input::placeholder {
   font-size: 1.5vw;
   color: #e5e5e5;
   padding: 5px;
}

.search-form__button {
   font-size: 2vw;
   font-weight: 700;
   line-height: 1;
   color: rgba(41, 41, 41, 1);
   background-color: #ffa800;
   width: 90%;
   max-width: 325px; /* Опционально */
   height: 60px;
   text-transform: uppercase;
   border-radius: 5px;
   margin: 5% 0 5% 0;
   z-index: 2;
}
