.how-its-working {
   position: relative;
   width: 100%;
   max-height: 800px;
   background: url(/src/shared/images/how-its-working__background.png) no-repeat;
   background-size: cover;
   background-position: top center;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   z-index: 2;
}

.how-its-working::before {
   position: absolute;
   content: '';
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: #e2a217;
   opacity: 0.7;
   z-index: -1;
}

.how-its-working__header {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 100%;  
   margin-bottom: 2%;
   padding-top: 5%;
}

.how-its-working__title {
   font-size: 2vw;
   font-weight: 500;
   line-height: 100%;
   color: rgba(229, 229, 229, 1);
   margin-right: 30%;
   text-transform: uppercase;
   text-align: center;
}

.how-its-working__button {
   font-size: 2vw; 
   font-weight: 700;
   min-width: 30%; 
   min-height: 3vh; 
   border: 1px solid rgba(229, 229, 229, 1);
   background: none;
   border-radius: 5px;
   color: rgba(229, 229, 229, 1);
   padding: 0.5%;
   cursor: pointer;
   transition: all 0.3s;
}

.how-its-working__button:hover {
   color: #000;
   border: 1px solid #000;
}

.how-its-working__button:active {
   background-color: rgba(229, 229, 229, 1);
}

.how-its-working__body {
   display: flex;
   justify-content: space-between; 
   padding-bottom: 5%;
}

.how-its-working__order,
.how-its-working__online,
.how-its-working__choice {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex: 1;
}

.how-its-working__image {
   width: 8vw;
   margin-bottom: 2%;
}

.how-its-working__text {
   font-size: 1.5vw;
   font-weight: 400;
   line-height: 120%;
   width: 60%;
   text-align: center;
   color: rgba(229, 229, 229, 1);
}
