.how-its-working {
   position: relative;
   width: 100%;
   min-width: 920px;
   max-height: 575px;
   background: url(/src/shared/images/how-its-working_background.png) no-repeat;
   background-size: cover;
   background-position: top center;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   z-index: 2;
}

.how-its-working::before {
   position: absolute;
   content: '';
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: #e2a217;
   opacity: 0.7;
   z-index: -1;
}

.how-its-working__header {
   display: flex;
   gap: 40%;
   align-items: center;
   margin-bottom: 105px;
   padding-top: 60px;
}

.how-its-working__title {
   font-size: 36px;
   font-weight: 500;
   line-height: 100%;
   color: #fff;
   text-transform: uppercase;
   margin-left: 260px;
}

.how-its-working__button {
   font-size: 24px;
   font-weight: 700;
   line-height: 100%;
   width: 325px;
   height: 60px;
   border: 1px solid #fff;
   background: none;
   border-radius: 5px;
   color: #fff;
   cursor: pointer;
}

.how-its-working__button:hover {
   color: #000;
   border: 1px solid #000;
}

.how-its-working__button:active {
   background-color: #fff;
}

.how-its-working__body {
   display: flex;
   justify-content: center;
   gap: 200px;
   padding-bottom: 90px;
}

.how-its-working__order,
.how-its-working__online,
.how-its-working__choice {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.how-its-working__image {
   width: 162px;
   margin-bottom: 35px;
}

.how-its-working__text {
   font-size: 24px;
   font-weight: 400;
   line-height: 100%;
   width: 225px;
   text-align: center;
   color: #fff;
}
